<launch>
  <node
    pkg="turtlesim"
    type="turtlesim_node"
    name="turtlesim"
    respawn="true"
  />
  <node
    pkg="turtlesim"
    type="turtle_teleop_key"
    name="teleop_key"
    required="true"
  />
  <node
    pkg="hello_ros"
    type="subpose.py"
    name="subpose"
    output="screen"
  />
  </launch>